body,html{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow-x: hidden;
    background-color: lightgray;
}
.sidebar-nav{
    width: 13vw;
    height: auto;
    float: left;
    margin: auto;
    padding-left: 10px;
}
.content{
    width: 85vw;
    height: auto;
    float: right;
    margin: auto;
    padding-left: 20px;
}
