body,html{
    margin: auto;
    background-color: lightgray;
    overflow: hidden;
}
.sidebar-nav{
    flex-shrink: 1;
    height: auto;
    padding: 1rem;
}
.content{
    flex-grow: 1;
    height: auto;
    margin: auto;
    padding-left: 20px;
}
.main-content{
    display: flex;
    justify-content: flex-start;
}
