.Job-Details-Component-Main{
    width: 45vw;
    height: 25vh;
    background-color: aqua;
    border-radius: 10px;
    margin: 10px;
}
.Job-Details-Component-Header{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 24px;
}
.Job-Details-Component-Company{
    width: 70%;
    height: 20%;
    float: left;
}
.Job-Details-Component-Salary{
    width: 30%;
    height: 20%;
    float: left;
}