a{
    font-size: 1em;
}
a:link{
    text-decoration: none;
    color: green;
}
a:visited{
    text-decoration: none;
    color: green;
}
a:hover{
    text-decoration: underline; 
}
a:active{
    text-decoration: none;  
}
.list{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
}
.list-content{
    border-radius: 8px; 
    margin-top: 10px;
}